@{
    ViewBag.Title = "Inicio";
}


<div class="row">
    <h2>Dashboard General</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="salesMonthChart"></div>
    </div>
    <div class="col-md-6">
        <div id="salesCustomerChart"></div>
    </div>
</div>


@section scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="~/Scripts/index.js"></script>
}